// $background-color: rgba(46, 50, 53, 1);
$background-color: rgba(226, 227, 226, 1); // trust it'll make sense later

$text-color: rgba(226, 227, 226, 1);

$transition-duration: 0.2s;

$mobile-breakpoint: 45rem;
$portrait-breakpoint: 64rem;
$landscape-breakpoint: 80rem;